<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Music</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <!-- <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(../../assets/img/bg-img/21-savage-metro-boomin-savage-mode-2-album-stream.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">O U T N O W</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Savage Mode II<span>Savage Mode II</span></h2>
                                <a data-animation="fadeInUp wow" data-wow-delay="50ms" data-delay="500ms" [routerLink]="['/album-player']" [queryParams]="{ Id: 180196822 }" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area section-padding-100 wow" data-wow-delay="50ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>See what’s new</p>
                        <h2>Latest Albums</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center fadeInUp wow">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <p>Nhaccuatoy is all about connecting music lovers from Vietnam to all the latest musics in the world. This site contains of numerous MP3 music to listen and download. Moreover, this site can be free and legal thanks to Deezer API. <a [routerLink]="['/register']">Register an account</a> for better experience. Now, here's some latest released albums</p>
                    </div>
                </div>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor='let album of latestAlbums'>
                    <div class="single-album">
                        <a [routerLink]="['/album-player']" [queryParams]="{ Id: album.id }">
                            <img class="d-flex" src="{{album.cover_big}}" alt="">
                            <div class="album-info">
                                <h5 class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{album.title}}">{{album.title}}</h5>
                                <p class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{album.artist.name}}">{{album.artist.name}}</p>
                            </div>
                        </a>
                    </div>
                </ng-template>  

              </owl-carousel-o>
        </div>
    </section>
    <!-- ##### Latest Albums Area End ##### -->


    <!-- ##### Featured Artist Area Start ##### -->
    <section *ngIf="isLoaded" class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image:url({{indexTrack.tracksArtist.pictureXL}});">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img src="{{indexTrack.tracksAlbum.coverBig}}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <p>See what’s new</p>
                            <h2>{{indexTrack.Title}}</h2>
                            <p>{{indexTrack.tracksArtist.Name}}</p>
                            <i class="fa fa-heart" (click)="likeTrack($event, indexTrack)" [ngClass]="{'liked': auth.activityStorage.trackIds.indexOf(indexTrack.Id) > -1}"></i>
                        </div>
                        <div class="song-name mb-2">
                            <div class="song-name mb-2"><a class="text-light" [routerLink]="['/album-player']" [queryParams]="{ Id: indexTrack.tracksAlbum.Id }">{{indexTrack.tracksAlbum.Name}}</a></div>
                        </div>
                        <vime-player controls >
                            <vime-audio>
                                <source data-src="{{indexTrack.Preview}}" type="audio/mp3"/>
                            </vime-audio>
                        </vime-player>

                        <!-- <audio style="width: 100%" preload controls name="media"><source [src]="getSource(indexTrack.Preview)" type="audio/mpeg"></audio> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Featured Artist Area End ##### -->

    <!-- ##### Miscellaneous Area Start ##### -->
    <section class="miscellaneous-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- ***** Weeks Top ***** -->
                <div class="col-12 col-lg-6" >
                    <div class="weeks-top-area mb-100"  >
                        <div class="section-heading text-left mb-50 wow fadeInUp"  data-wow-delay="50ms">
                            <p>Billboard Top 10</p>
                            <h2>This week’s top</h2>
                        </div>

                        <!-- Single Top Item -->
                        <div class="single-top-item d-flex wow fadeInUp" *ngFor='let track of topTracks' data-wow-delay="100ms">
                            <div class="thumbnail">
                                <img src="{{track.tracksAlbum.coverBig}}" alt="">
                            </div>
                            <div class="content- col-12 col-lg-3">
                                <h6>{{track.Title}}</h6>
                                <p>{{track.tracksArtist.Name}}</p>
                            </div>
                            <div class="col-12 col-lg-3" >
                                <vime-player controls>
                                    <vime-audio cross-origin preload>
                                    <source data-src="{{track.Preview}}" type="audio/mp3" />
                                    </vime-audio>
                                </vime-player>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ***** New Hits Songs ***** -->
                <div class="col-12 col-lg-3">
                    <div class="new-hits-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>Billboard Top 10</p>
                            <h2>This week's album</h2>
                        </div>

                        <!-- Single Top Item -->
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" *ngFor='let album of topAlbum' data-wow-delay="100ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="{{album.coverBig}}" alt="">
                                </div>
                                <div class="content- col-lg-9 col-12">
                                    <a [routerLink]="['/album-player']" [queryParams]="{ Id: album.Id }">{{album.Name}}</a>
                                    <p>{{album.albumArtist.Name}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ***** Popular Artists ***** -->
                <div class="col-12 col-lg-3">
                    <div class="popular-artists-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>Billboard Top 10</p>
                            <h2>Popular Artist</h2>
                        </div>

                        <!-- Single Artist -->
                        <div class="single-artists d-flex align-items-center wow fadeInUp" *ngFor='let artist of topArtist'  data-wow-delay="100ms">
                            <div class="thumbnail">
                                <img src="{{artist.pictureBig}}" alt="">
                            </div>
                            <div class="content-">
                                <p>{{artist.Name}}</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Miscellaneous Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(../../assets/img/bg-img/bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                        <p>See what’s new</p>
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
</body>

</html>