<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../assets/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>Change your password</p>
        <h4>{{auth.currentAccountValue.email}}</h4>
    </div>
</section>

<!-- ##### Register Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Change password here</h3>
                    <!-- Alert -->
                    <div *ngIf="showAlert" class="alert alert-{{alertType}}" role="alert">{{alertMsg}}</div>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form action="#" method="post">
                            <!-- Current Password -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">Current Password</label>
                                <input type="password" class="form-control" name="password" required #password="ngModel" [(ngModel)]="passwords.password" id="exampleInputPassword1" placeholder="Password" [ngClass]="{'is-invalid': password.invalid && (password.touched || password.dirty)}">     
                                <small id="exampleInputPassword1" *ngIf="password.invalid && (password.touched || password.dirty)" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Please fill out this field!</small>
                            </div>

                            <!-- New Password -->
                            <div class="form-group">
                                <label for="exampleInputPassword1">New Password</label>
                                <input type="password" class="form-control" name="newPass" required minlength="6" #newPass="ngModel" [(ngModel)]="passwords.newPass" placeholder="Password" [ngClass]="{'is-invalid': newPass.invalid && (newPass.touched || newPass.dirty), 'is-valid': !newPass.invalid}">     
                                <ng-container *ngIf="newPass.invalid && (newPass.touched || newPass.dirty)">
                                    <small id="exampleInputPassword1" *ngIf="newPass.errors?.required" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Please fill out this field!</small>
                                    <small id="exampleInputPassword1" *ngIf="newPass.errors?.minlength" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Passwords must have at least 6 characters!</small>
                                </ng-container>
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group">
                                <label for="exampleInputPassword2">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm" required #confirm="ngModel" [(ngModel)]="confirmPass" id="exampleInputPassword2" placeholder="Confirm Password" [ngClass]="{'is-invalid': (confirm.invalid || confirmPass != passwords.newPass) && (confirm.touched || confirm.dirty), 'is-valid': !confirm.invalid}">     
                                <ng-container *ngIf="(confirm.invalid || confirmPass != passwords.newPass) && (confirm.touched || confirm.dirty)">
                                    <small id="exampleInputPassword2" *ngIf="confirm.errors?.required && confirm.touched" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Please fill out this field!</small>
                                    <small id="exampleInputPassword2" *ngIf="confirmPass != '' && confirmPass != passwords.newPass" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Passwords don't match!</small>
                                </ng-container>
                            </div>
                            <button [disabled]="password.invalid || confirm.invalid || newPass.invalid || confirmPass != passwords.newPass || !isLoaded" (click)="save()" class="btn oneMusic-btn mt-30">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Register Area End ##### -->

