
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../assets/img/bg-img/breadcumb3.jpg);">
</section>
<!-- ##### Breadcumb Area End ##### -->

<section class="miscellaneous-area bg-img bg-overlay bg-fixed has-bg-img" >
    <div class="container">
        
        <div class="row">
            <div class="col-12 col-lg-12" >
                <div class="new-hits-area ">
                    <div class="bradcumbContent">
                        <p>Playlist list</p>
                        <h2>Nhaccuatoy</h2>
                    </div>
                    <!--Top 10 playlist Start Area-->
                    <div class="section-heading text-left mb-50 wow fadeInUp"  data-wow-delay="50ms">
                        <h2>Top 10 Playlists</h2>
                    </div>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor='let playlist of indexPlaylist'>
                            <div class="single-album item">
                                <i class="fa fa-heart play-icon" (click)="likePlaylist($event, playlist.Id)" [ngClass]="{'liked': auth.activityStorage.likedPlaylistIds.indexOf(playlist.Id) > -1}"></i>
                                <a [routerLink]="['/playlist-player']" [queryParams]="{ Id: playlist.Id }">
                                    <img class="d-flex" src="{{playlist.pictureBig}}" alt="">
                                    <div class="album-info">
                                        <h5 class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{playlist.Title}}">{{playlist.Title}}</h5>
                                        <p>{{playlist.numberTrack}} tracks</p>
                                    </div>
                                </a>
                            </div>
                        </ng-template>  
                      </owl-carousel-o>
                      <hr>
                    
                    <!--Top 10 2020 playlist Start Area-->
                    <div class="section-heading text-left mb-50 wow fadeInUp"  data-wow-delay="50ms"><h2>Best of 2020 Playlists</h2></div>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor='let playlist of best2020Playlist'>
                            <div class="single-album item">
                                <i class="fa fa-heart play-icon" (click)="likePlaylist($event, playlist.Id)" [ngClass]="{'liked': auth.activityStorage.likedPlaylistIds.indexOf(playlist.Id) > -1}"></i>
                                <a [routerLink]="['/playlist-player']" [queryParams]="{ Id: playlist.Id }">
                                    <img class="d-flex" src="{{playlist.pictureBig}}" alt="">
                                    <div class="album-info">
                                        <h5 class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{playlist.Title}}">{{playlist.Title}}</h5>
                                        <p>{{playlist.numberTrack}} tracks</p>
                                    </div>
                                </a>
                            </div>
                        </ng-template>  
                    </owl-carousel-o>
                    <hr>

                    <!--Top 10 on repeat playlist Start Area-->
                    <div class="section-heading text-left mb-50 wow fadeInUp"  data-wow-delay="50ms"><h2>On Repeat</h2>
                    </div>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor='let playlist of onRepeatPlaylist'>
                            <div class="single-album item">
                                <i class="fa fa-heart play-icon" (click)="likePlaylist($event, playlist.Id)" [ngClass]="{'liked': auth.activityStorage.likedPlaylistIds.indexOf(playlist.Id) > -1}"></i>
                                <a [routerLink]="['/playlist-player']" [queryParams]="{ Id: playlist.Id }">  
                                    <img class="d-flex" src="{{playlist.pictureBig}}" alt="">
                                    <div class="album-info">
                                        <h5 class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{playlist.Title}}">{{playlist.Title}}</h5>
                                        <p>{{playlist.numberTrack}} tracks</p>
                                    </div>
                                </a>
                            </div>
                        </ng-template>  
                      </owl-carousel-o>
                    <!--Top 10 on repeat playlist End Area-->

                </div>
            </div>
        </div>
    </div>
</section>
