 <!-- ##### Breadcumb Area Start ##### -->
 <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../assets/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Login</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back</h3>
                    <!-- Alert -->
                    <div *ngIf="showAlert" class="alert alert-danger" role="alert">Email or password doesn't exist!</div>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form class="mb-2">
                            <!-- Email -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" name="email" required #email="ngModel" [(ngModel)]="account.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail" [ngClass]="{'is-invalid': email.invalid && (email.touched || email.dirty)}">
                                <ng-container *ngIf="email.invalid && (email.touched || email.dirty)">
                                    <small id="emailHelp" *ngIf="email.errors?.required" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Please fill out this field!</small>
                                    <small id="emailHelp" *ngIf="email.errors?.pattern" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Invalid email!</small>
                                </ng-container>
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                <div class="row">
                                    <label class="col" for="exampleInputPassword1">Password</label>
                                    <label class="col-auto"><input type="checkbox" [(ngModel)]="remember" name="remember"> Remember me</label>
                                </div>
                                <input type="password" class="form-control" name="password" required #password="ngModel" [(ngModel)]="account.password" id="exampleInputPassword1" placeholder="Password" [ngClass]="{'is-invalid': password.invalid && (password.touched || password.dirty)}">     
                                <small id="exampleInputPassword1" *ngIf="password.errors?.required && (password.touched || password.dirty)" class="form-text text-danger"><i class="fa fa-exclamation-circle"></i> Please fill out this field!</small>
                            </div>
                            <button (click)="login()" [disabled]="email.invalid || password.invalid" type="submit" class="btn oneMusic-btn mt-30">Login</button>
                        </form>
                        <div class="text-center">
                            <small>Don't have an account? <a href="/register">Register here!</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->