<!-- ##### Featured Artist Area Start ##### -->

<section class="featured-artist-area section-padding-100 mb-100 bg-img bg-overlay bg-fixed align-items-center justify-content-center" style="background-image:url({{track.tracksArtist.pictureXL}});">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <script type="text/javascript">
        document.getElementById("scrollUp").click();
    </script>
        
    <div class="container" *ngIf="isLoaded">
        
        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <img class="slide-img bg-img" src="{{track.tracksAlbum.coverBig}}" alt="">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content hero-slides-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30 ">
                        <p>Track: </p>
                        <h2 data-animation="fadeInUp" data-delay="500ms" >{{track.Title}}</h2>
                        <p data-animation="fadeInUp" data-delay="500ms">{{track.tracksArtist.Name}}</p>
                        <i class="fa fa-heart" (click)="likeTrack($event, track.Id)" [ngClass]="{'liked': auth.activityStorage.trackIds.indexOf(track.Id) > -1}"></i>
                    </div>
                    <div class="song-name mb-2"><a class="text-light" [routerLink]="['/album-player']" [queryParams]="{ Id: track.tracksAlbum.Id }">{{track.tracksAlbum.Name}}</a></div>
                    
                    <!-- <vime-player controls>
                        <vime-audio>
                            <source data-src="{{track.Preview}}" type="audio/mp3"/>
                        </vime-audio>
                    </vime-player> -->

                    <audio style="width: 100%" preload controls name="media"><source [src]="getSource(track.Preview)" type="audio/mpeg"></audio>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Featured Artist Area End ##### -->
   <!-- ##### Latest Albums Area Start ##### -->
   <section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>{{track.tracksArtist.Name}}</p>
                    <h2>Latest Tracks</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="ablums-text text-center mb-70">
                    <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros.</p>
                </div>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide *ngFor='let track of tracks'>
                <div class="single-album">
                    <a [routerLink]="['/track-player']" [queryParams]="{ Id: track.Id }">
                        <img class="d-flex" src="{{track.tracksAlbum.coverBig}}" alt="">
                        <div class="album-info">
                            <h5>{{track.Title}}</h5>
                            <p>{{track.tracksArtist.Name}}</p>
                        </div>
                    </a>
                </div>
            </ng-template>  

          </owl-carousel-o>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->


