<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{this.albumDetail.albumArtist.pictureXL}});">
</section>
<!-- ##### Breadcumb Area End ##### -->

<section class="miscellaneous-area bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url({{this.albumDetail.coverXL}});">
    <div class="container">
        
        <div class="row">
            <div class="col-12 col-lg-12" >
                <div class="new-hits-area ">
                    <div class="bradcumbContent">
                        <p>Album Player</p>
                        <h2>Nhaccuatoy</h2>
                    </div>
                    <!-- ##### Add Area Start ##### -->
                    <div class="add-area justify-content-center ">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 placeholder"> 
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="adds text-center">
                                        <img class="img-fluid mt-4" src="{{this.albumDetail.coverBig}}" alt="">
                                        <h2 class="style-2 ">{{this.albumDetail.Name}}</h2>
                                        <p class="style-2  ">{{this.albumDetail.albumArtist.Name}}</p>
                                    </div>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                    <!-- ##### Add Area End ##### -->

                    <div class="section-heading text-left mb-50 wow fadeInUp"  data-wow-delay="50ms">
                        <p>List of Track</p>
                    </div>
                    <ng-container *ngFor='let track of listTracks; let i=index; last as last'>
                        <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
                            <div class="content- col-12 col-lg-6">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <h6 style="margin-bottom: 0px !important;">{{i + 1}}. </h6>
                                        <i class="fa fa-heart" (click)="likeTrack($event, track.Id)" [ngClass]="{'liked': auth.activityStorage.trackIds.indexOf(track.Id) > -1}"></i>
                                    </div>
                                    <div class="col-auto">
                                        <h6>{{track.Title}}</h6>
                                        <p>{{track.tracksArtist.Name}}</p>        
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4" >
                                <vime-player controls>
                                    <vime-audio cross-origin preload>
                                    <source data-src="{{track.Preview}}" type="audio/mp3" />
                                    </vime-audio>
                                </vime-player>
                            </div>
                        </div>
                        <hr style="margin-top: 0rem !important" *ngIf="!last">
                    </ng-container>
                   

                </div>
            </div>
        </div>
    </div>
</section>
