<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../assets/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Latest Albums</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Album Catagory Area Start ##### -->
<section class="section-padding-100-0">
    <div class="container">
        <div class="row">
            <div *ngIf="!isLoaded" class="col-12 text-center"><div class="spinner-border text-danger" role="status"><span class="sr-only">Loading...</span></div></div> 

            <div *ngIf="isLoaded" class="row pd-4" > 
                <!-- Single Album -->
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item ${{album.Name.substr(0,1)}} ${{album.Name.substr((album.Name).length - 1,1)}}" *ngFor='let album of listAlbum'>
                    <div class="single-album item">
                        <i class="fa fa-heart play-icon" (click)="likeAlbum($event, album.Id)" [ngClass]="{'liked': auth.activityStorage.albumsIds.indexOf(album.Id) > -1}"></i>
                        <img src="{{album.coverBig}}" alt="">
                        <a [routerLink]="['/album-player']" [queryParams]="{ Id: album.Id }"> 
                            <div class="album-info">
                                <h5 class="text-truncate" data-toggle="tooltip" data-placement="top" title="{{album.Name}}">{{album.Name}}</h5>
                                <p class="text-truncate"  data-toggle="tooltip" data-placement="top" title="{{album.albumArtist.Name}}">{{album.albumArtist.Name}}</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</section>
<br>
<br>
<!-- ##### Album Catagory Area End ##### -->
<div class="placeholder"></div>

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(../../assets/img/bg-img/bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white">
                    <p>See what’s new</p>
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->
